* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 250px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

a {
    color: white;
     text-decoration: none;
}

/* SECTION 1: SIDEBAR */
.sidebar {
    grid-area: sidebar;
    background-color: rgb(27, 148, 204);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 50px;
    color: white;
}

.sidebar .nav-cell,
.sidebar .icon {
    padding: 15px 0px 15px 25px;
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.1s;
}

.sidebar .nav-cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .icon span {
    font-size: 2rem;
    font-weight: 700;
}

.sidebar .icon i {
    margin-right: 25px;
    font-size: 2.5rem;
}

.sidebar .nav-cell span {
    font-size: 1.6rem;
    font-weight: 700;
}

.sidebar .nav-cell i {
    margin-right: 35px;
    font-size: 1.4rem;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar nav {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.sidebar nav > * {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/* SECTION 2: HEADER */
.header {
    grid-area: header;
    box-shadow: 0 10px 10px -4px rgb(180, 180, 180);
    z-index: 999;
}

/* SECTION 2.1 TOP SECTION */
.header .top-section {
    display: flex;
    padding: 20px 60px;
}

.header .top-section .search-bar {
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.header .top-section .search-bar i {
    font-size: 1.4rem;
    margin-right: 25px;
}

.header .top-section .search-bar input {
    width: 800px;
    background-color: rgb(233, 233, 233);
    border: none;
    font-size: 1.5rem;
    padding: 5px 20px;
    border-radius: 50px;
}

.header .top-section .search-bar input:focus {
    outline: 2px solid rgba(0, 0, 0, 0.650);
}

.header .top-section .utilities {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0px 20px;
}

.header .top-section .utilities i {
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    padding: 12px;
}

.header .top-section .utilities i:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header .top-section .utilities img {
    width: 65px;
    border-radius: 50%;
    cursor: pointer;
}

.header .top-section .utilities span {
    font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
}

/* SECTION 2.2: BOTTOM SECTION */
.header .bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.bottom-section .profile-card {
    display: flex;
}

.bottom-section .profile-card .left {
    margin-right: 20px;
}

.bottom-section .profile-card .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom-section .profile-card .right span:nth-child(1){
    font-size: 1.2rem;
    font-weight: 600;
}

.bottom-section .profile-card .right span:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
}

.bottom-section .buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0px 25px;
}

.bottom-section .buttons button {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    background-color: rgb(27, 148, 204);
    border: none;
    border-radius: 50px;
    padding: 12px 40px;
    cursor: pointer;
    transition: 0.2s;
}

.bottom-section .buttons button:hover {
    filter: brightness(1.1);
}


/* SECTION 3: MAIN */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 350px;
    padding: 50px 40px 50px 25px;
    grid-template-areas:
        "projects announcements"
        "projects trending";
        gap: 40px;
    background-color: rgb(235, 235, 235);
}

.main h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 12px;
}

/* SECTION 3.1: PROJECTS */
.main .projects-section {
    grid-area: projects;
}

.main .projects-section .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.main .projects-section .projects .project-cell {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 10px solid rgb(255, 190, 0);
    border-radius: 10px;
    padding: 50px 30px 40px 30px;
    box-shadow: 5px 5px 10px rgb(200, 200, 200);
}

.main .projects-section .projects .project-cell h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.main .projects-section .projects .project-cell p {
    color: rgb(100, 100, 100);
    font-size: 1.3rem;
    width: 80%;
}

.main .projects-section .projects .project-cell .icons {
    display: flex;
    gap: 8px;
    align-self: flex-end;
    margin-top: auto;
}

.main .projects-section .projects .project-cell .icons i {
    font-size: 1.6rem;
    height: 50px;
    width: 50px;
    color: rgb(55, 55, 55);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .projects-section .projects .project-cell .icons i:hover {
    background-color: rgba(0, 0, 0, 0.1);;
}

/* SECTION 3.2: ANNOUNCEMENTS */
.main .announcements-section {
    grid-area: announcements;
}

.main .announcements-section .announcements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px 40px 40px;
    box-shadow: 5px 5px 10px rgb(200, 200, 200);
}

.main .announcements-section .announcements .announcement-cell:not(:last-of-type) {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-bottom: 20px;
}

.main .announcements-section .announcements .announcement-cell p {
    margin-top: 2px;
    color: rgb(100, 100, 100);
}

/* SECTION 3.3: TRENDING */
.main .trending-section {
    grid-area: trending;
}
